.basketball-bg {
  background-image: url('media/basketball-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.scoreboard-bg {
  background-color: #152bf476;
  padding: 20px;
  border-radius: 10px;
}

.content {
  color: #fff;
  text-align: center;
}